<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
</head>

<!-- This site is a form where we can
1) Add more players
2) Go back to Home Page
3) Delete the Roster -->
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h3 class="display-3">Enter Player Info</h3>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control nameInput" id="name" placeholder="Player">
        </div>
        <div class="form-group">
          <label for="ppg">PPG</label>
          <input type="number" class="form-control ppgInput" id="ppg" placeholder="10.00">
        </div>
        <div class="form-group">
          <label for="position">Position</label>
          <input type="text" class="form-control positionInput" id="position" placeholder="position">
        </div>
        <div class="form-group">
          <label for="message">Miscellaneous</label>
          <textarea class="form-control messageInput" id="message" rows="3"></textarea>
        </div>
      </form>
      <div class="row">
        <a class="addPlayer btn btn-danger btn-lg" href="/add" role="button">Add Player</a>
        <a class="viewPlayer btn btn-danger btn-lg" href="/view" role="button">View Players</a>
        <a class="viewPlayer btn btn-danger btn-lg" href="/" role="button">Cancel - Home</a>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>
<script>
  $('.addPlayer').on('click', function () {
    event.preventDefault()
    console.log($("#name").val().trim())
    var playerObj = {
      name:$("#name").val().trim(),
      ppg:$("#ppg").val().trim(),
      position:$("#position").val().trim(),
      misc:$("#message").val().trim()
    }
    //empty the form
    $("#name").val("")
    $("#ppg").val("")
    $("#position").val("")
    $("#message").val("")
    
    alert("Player added")

    // pass object back to server
$.post('/addPlayer',playerObj).then(function(r){
})


  })
</script>
</body>

</html>